{{ with site.Params.giscus }}
<script>
  function getTheme() {
    return document.body.classList.contains("dark")
      ? "dark_protanopia"
      : "light_protanopia";
  }

  let giscusAttributes = {
    src: "https://giscus.app/client.js",
    "data-repo": "wentaoli-cn/wentaoli-cn.github.io",
    "data-repo-id": "{{ .repoId }}",
    "data-category": "Announcements",
    "data-category-id": "{{ .categoryId }}",
    "data-mapping": "pathname",
    "data-strict": "1",
    "data-reactions-enabled": "1",
    "data-emit-metadata": "0",
    "data-input-position": "bottom",
    "data-theme": getTheme(),
    "data-lang": "en",
    crossorigin: "anonymous",
    async: "",
  };

  let giscusScript = document.createElement("script");
  Object.entries(giscusAttributes).forEach(([key, value]) =>
    giscusScript.setAttribute(key, value),
  );
  document.querySelector("main").appendChild(giscusScript);

  function changeGiscusTheme() {
    const iframe = document.querySelector("iframe.giscus-frame");
    const setGisSrc = (theme) => {
      if (!iframe) {
        return;
      }
      const iframeSrc = iframe.src;
      const iframeUrl = new URL(iframeSrc);
      const iframeSearchParams = iframeUrl.searchParams;
      iframeSearchParams.set("theme", theme);
      iframe.src = iframeUrl.toString();
    };
    const sendMessage = (message) => {
      if (iframe?.contentWindow) {
        iframe.contentWindow.postMessage(
          { giscus: message },
          "https://giscus.app",
        );
      }
    };
    if (iframe?.classList.contains("giscus-frame--loading")) {
      setGisSrc(getTheme());
    } else {
      sendMessage({ setConfig: { theme: getTheme() } });
    }
  }

  const themeToggle = document.getElementById("theme-toggle");
  if (typeof themeToggle !== "undefined") {
    themeToggle.addEventListener("click", () =>
      setTimeout(changeGiscusTheme, 100),
    );
  }
</script>
{{ end }}
